.Cell {
  float: left;
  border: 1px solid white;
  box-sizing: border-box;
  background: #cce8ff;
  font-family: system-ui;
  position: relative;
}
.Cell select {
  height: 100%;
  width: 100%;
  padding-left: 0.3em;
  -webkit-appearance: none;
  appearance: none;
  text-align-last: right;
  direction: rtl;
}
.Cell select.icons {
  padding-left: 0px;
}
.Cell select.music {
  padding-top: 12%;
  height: 100%;
  padding-left: 0px;
}

.Cell button {
  font-size: 0.2em;
  padding: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}
.Cell button.expose {
  left: 20px;
}
.Cell .disabled {
  font-weight: bold;
  background-color: #e5e5e5;
  height: 100%;
  box-sizing: border-box;
}
.Cell .disabled.icons {
  font-weight: normal;
}
.Cell .disabled.music {
  padding-top: 25%;
  font-weight: normal;
}

.colors {
  height: 100%;
  box-sizing: border-box;
}
