.ControlBox{
  padding-bottom: 5px;
  width: 510px;
}
.filter{
  width: 100%;
  height: 15px;
  padding: 3px 0px;
}
.halfWidth{
  padding-top:2px;
  overflow: hidden;
}
.halfWidth .filter{
  width:50%;
  float:left;
}
.filter span{
  float: left;
  width: 140px;
  text-align: right;

}
.filter select{
  float:left;
  margin-left:5px;
  width:175px;
}
.halfWidth .filter select{ 
  width:100px;
}