body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root{
  text-align: center;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
select:focus, textarea:focus, input:focus {
        font-size: 16px;
    }
}